**/target/
**/bin/
**/build/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

#misc
**/.attach*
**/.hprof
**/.metadata/
**/loginfofile
